<!-- Social Footer, Single Coloured -->
<!-- Include Font Awesome Stylesheet in Header -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!-- // -->
<footer class="footer">
  <div class="container">
    <div class="text-center center-block">
      <br />
      <a href="https://twitter.com/makramkd"><i class="fa fa-twitter-square fa-3x social"></i></a>
      <a href="https://github.com/makramkd"><i class="fa fa-github fa-3x social"></i></a>
    </div>
    <hr />
  </div>
</footer>